<div>
  <div>
    <h2>Adicionar Item</h2>
    <input type="text" #name placeholder="Nome do item" />
    <input type="number" #quantity placeholder="Quantidade" />
    <input type="number" #price placeholder="Preço" />
    <button (click)="addItem(name.value, quantity.value.toString(), price.value.toString())">Adicionar</button>
  </div>
  <h2>Itens do Inventário</h2>
  <input [(ngModel)]="searchTerm" placeholder="Pesquisar" />
  <ul>
    <li *ngFor="let item of filteredItems">
      <input [(ngModel)]="item.name" placeholder="Nome" />
      <input type="number" [(ngModel)]="item.quantity" placeholder="Quantidade" />
      <input type="number" [(ngModel)]="item.price" placeholder="Preço" />
      <button
        (click)="updateItem(item._id!, item.name!, item.quantity!, item.price!)">
        Salvar
      </button>
      <button
        (click)="deleteItem(item._id!)">
        Deletar
      </button>
    </li>
  </ul>
</div>
