<div class="container">
  <h2 class="title">Inventory</h2>

  <!-- Formulário para adicionar novo item -->
  <div>
    <h3>Add New Item</h3>
    <input type="text" #name placeholder="Name">
    <input type="number" #quantity placeholder="Quantity">
    <input type="number" #price placeholder="Price">
    <button (click)="addItem(name.value, quantity.valueAsNumber, price.valueAsNumber)">Add Item</button>
  </div>

  <!-- Lista de itens -->
  <div *ngIf="items.length > 0">
    <h3>Items List</h3>
    <ul>
      <li *ngFor="let item of items">
        <!-- Campos editáveis para atualização -->
        <input type="text" [(ngModel)]="item.name" placeholder="Name">
        <input type="number" [(ngModel)]="item.quantity" placeholder="Quantity">
        <input type="number" [(ngModel)]="item.price" placeholder="Price">

        <!-- Botão de atualização -->
        <button *ngIf="item._id" (click)="updateItem(item._id, item.name, item.quantity, item.price)">
          Update
        </button>

        <!-- Botão de deletar -->
        <button *ngIf="item._id" (click)="deleteItem(item._id)">
          Delete
        </button>
      </li>
    </ul>
  </div>

  <!-- Mensagem se não houver itens -->
  <div *ngIf="items.length === 0">
    <p>No items found.</p>
  </div>
</div>
